/.github/CODEOWNERS @morpho-org/security
/.github/dependabot.yml @morpho-org/security
/.github/workflows/ @morpho-org/security
/package.json @morpho-org/security
/packages/*/package.json @morpho-org/security
/pnpm-lock.yaml @morpho-org/security
/pnpm-workspace.yaml @morpho-org/security
/.npmrc @morpho-org/security
/.changeset/ @morpho-org/security
/.nvmrc @morpho-org/security
/scripts/ @morpho-org/security
