name: Publish on NPM

on:
  workflow_dispatch:
    inputs:
      version:
        type: choice
        required: true
        description: Type of version
        options:
          - patch
          - minor
          - major
          - prerelease
      custom_version:
        type: string
        required: false
        description: Custom semver version to publish. Falls back to incremental versioning if empty. (e.g., 1.0.0-unstable.1)

jobs:
  publish-to-npm:
    name: Publish to NPM
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@users.noreply.github.com'

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: yarn

      - run: yarn install --immutable

      - name: Version and publish
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
          if [ -n "${{ inputs.custom_version }}" ]; then
            yarn lerna version ${{ inputs.custom_version }} --y --force-publish
            yarn run publish --y --dist-tag unstable
          else
            yarn lerna version ${{ inputs.version }} --no-private --no-changelog --conventional-commits --y
            yarn run publish --y
          fi
